@model IEnumerable<BlogWeb.WebUI.Models.MenuViewModel>
<ul>
	<li class="colorlib-active">@Html.ActionLink("Home", "Index", "Home")</li>
	@foreach (var menu in Model)
	{
		<li>@Html.ActionLink(menu.Name, menu.Action, menu.Controller)</li>
	}
</ul>
